.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: clamp(300px, 80vw, 800px);
  height: clamp(300px, 80vw, 800px);
}

@media (max-width: 1600px) {
  .board {
    width: 700px; 
    height: 700px;
  }
}
  