body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

h1 {
  font-size: 25px;
  margin-bottom: 2px;
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
} 

p {
  margin: 2px;
}

.white {
  color: black;
}

.black {
  color: black;
}

.top-labels {
  display: flex;
  flex-direction: row;
}