.piece {
  width: 100%;
  height: 100%;
  cursor: grab;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece img {
  width: 80%;
  height: 80%;
  pointer-events: none;
}

.piece.dragging {
  opacity: 0;  /* Makes the original piece semi-transparent while dragging */
}

/* Add styles for the dragging overlay */
.drag-overlay {
  cursor: grabbing;
}

.drag-overlay img {
  transform: scale(1.9);  /* Makes the dragged piece slightly larger */
  cursor: grabbing;
}